.brands {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 60px 40px 30px;

  overflow: hidden;
}

.brands h2 {
  color: #b80f1f;

  font-size: 52px;
  font-weight: 800;

  margin-bottom: 50px;

  text-align: center;
}

/* SLIDER AREA */
.brands-slider {
  width: 75%;
  max-width: 950px;

  overflow: hidden;
  position: relative;
}

/* MOVING TRACK */
.brands-track {
  display: flex;
  align-items: center;

  gap: 180px;

  width: max-content;

  animation: marquee 12s linear infinite;
}

/* LOGOS */
.brands-track img {
  width: 170px;
  object-fit: contain;

  flex-shrink: 0;
}

/* LINE */
.brands-line {
  width: 92%;
  height: 2px;

  background: #2f2fa2;

  margin-top: 50px;
}

/* PERFECT SMOOTH LOOP */
@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(calc(-33.333%));
  }
}

/* ================= TABLET ================= */
@media (max-width: 1279px) and (min-width: 800px) {
  .brands {
    padding: 45px 30px 24px;
  }

  .brands h2 {
    font-size: 26px;

    margin-bottom: 34px;
  }

  .brands-slider {
    width: 78%;
    max-width: 700px;
  }

  .brands-track {
    gap: 120px;

    animation: marquee 10s linear infinite;
  }

  .brands-track img {
    width: 120px;
  }

  .brands-line {
    margin-top: 34px;
  }
}

/* ================= MOBILE ================= */
@media (max-width: 799px) {
  .brands {
    padding: 32px 16px 18px;
  }

  .brands h2 {
    font-size: 14px;

    margin-bottom: 22px;

    text-align: center;
  }

  .brands-slider {
    width: 90%;
  }

  .brands-track {
    gap: 70px;

    animation: marquee 9s linear infinite;
  }

  .brands-track img {
    width: 85px;
  }

  .brands-line {
    width: 90%;

    margin-top: 26px;
  }
}